/* 공통사항 */
/* 바깥여백, 안쪽여백 태그마다 기본으로 있으므로 모두 0으로 제거 */
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
}
/* list 장식 없애기 */
li{
    list-style: none;
}
/* a */
a{
    color: #222;
    text-decoration: none;
}
/* hr 구분선 제거하기 */
hr{
    display: none;
}
/* .blind를 가지는 제목들은 화면에서는 사라지지만 리더기를 통해서는 읽혀지도록 */
/* .blind{
    position: absolute;
    top: -9999px;
} */
/* body */
body{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #7f7f7f;
}
/* img 이미지가 연속으로 나오면 글자와의 정렬때문에 공간이 생긴다. 그 공간을 없앨 떄는 vertical-aline가 baseline만 아니면 된다. 하지만 middle 추천익스플로러 버전이 낮으면 자동 border가 생겨서 혹시 모르니 border도 0을 준다*/
img{
    vertical-align: middle;
    border: 0;
}
/* 모든 자식 요소가 float되면 부모는 높이 값이 사라지고 아래에 있는 요소가 올라온다. */
/* 얘를 가진애들은 알아서 다 자기 자리를 찾아옴 */
.clearFix::after{
    content: "";
    display: block;
    clear: both;
}
.conCenter{
    width: 1180px;
    /* background-color: rgba(255, 0, 0, 0.3); */
    margin: 0 auto;
}
/* #header */
#header{
    /* 헤더요소 모두에게 top에 여백을 줘야하니까 header에 일괄로 한 번에 줌 */
    padding-top: 17px;  
    /* 헤더랑 메인배너를 겹치게 하려고 */
    position: absolute;  
    /* 다시 가운데로 오게 하려고 너비 100% 줌 */
    width: 100%;
    /* 배너보다 위로 올라오도록 */
    z-index: 1000;
}
.logo{
    float: left;
    /* float이 없으면 logo가 아닌 부모요소에 margin-top이 적용되고, padding으로 조절해야 한다. 그러나 float이 있다면 margin-top이 logo에 적용됨 */
    /* margin-top: 17px; */
    /* logo 오른쪽으로 여백줌 */
    margin-right: 20px;
    /* h1은 자동으로 높이가 40px이다. 이미지만 넣는 경우에는 폰트사이즈를 0으로 해서 불필요한 여백을 다 없애줘야 한다. */
    font-size: 0;
}
.member{
    /* background-color: yellow; */
    /* member를 로고 옆으로 */
    float:left;
}
.member>li{
    /* member안의 li를 일자로 나열 */
    float: left;
    /* li 사이를 5px 띄움 */
    margin-right: 5px;
}
.member>li>a{
    /* 이미지를 넣었는데 li>a에 너비높이가 적용이 안되니까 블럭으로 바꿔줌 */
    display: block;
    height: 30px;
    font-weight: bold;
    line-height: 30px;
    text-indent: 30px;
    /* 이미지가 들어가는 곳의 너비나 높이중 더 큰 곳에 맞춰서 들어가게 하는 것 = contain */
    background-size: contain;
    background-repeat: no-repeat;
}
.member>li:first-child>a{
    /* li의 첫번째 자식의 a에 배경으로 이미지를 넣어줌 */
    width: 80px;
    background-image: url(../images/gnb_member_re1121.png);
    color: white;
}
.member>li:last-child>a{
    width: 100px;
    background-image: url(../images/gnb_cert_re1203.png);
}

.menu{
    display: none;
    width: 109px;
    height: 27px;
    background-color: white;
    border: 2px solid #999;
    /* .member의 영역안에서 벗어나기 위해 position을 줌(menu를 움직여도 member가 안 움직이려고) */
    position: absolute;
    border-radius: 5px;
    /* 위치를 잡아주기 위해 margin-left를 줌(부모로 잡을 곳(.member>li)이 menu보다 크기가 작아서 부모를 잡아주면 아래로 내온다. 그러므로 부모를 따로 안 잡아준다. 그래서 top으로 안주고 margin으로 줌) */
    margin-left: -5px;
    /* 중간에 들어가는 선이 위아래 딱 붙는 게 아니라서 */
    padding: 5px 0;
}
.menu>li{
    /* menu에 높이값이 있어서 li에 float을 줬지만 부모영역이 안 사라짐 */
    /* menu안의 li를 일자로 나열 */
    float: left;
    /* menu 너비의 50% */
    width: 50%;
    text-align: center;
    /* 위아래 중간을 맞추기 위해서 높이값이랑 똑같은 값으로 line-height */
    line-height: 27px;
    border-left:1px solid #ccc ;
    /* 너비가 50%인데 테두리까지 합하면 50%+1px이 되니까 너비와 테두리가 모두 50%안에 들어가게 하려고 사용하는 선택자 */
    box-sizing: border-box;
}
.menu>li:first-child{
    /* menu>li에 border-left가 모든 li에 들어있으니까 첫번째 li에는 빼준다. */
    border-left: none;
}
.member>li:hover .menu{
    /* member의 li를 hover하면 menu가 나오게 함 */
    display: block;
}

/* 메인메뉴 */
#nav{
    /* 인증센터 옆으로 붙이기 */
    float: left;
    /* 메인메뉴 옆에 있는 member와 여백주기 */
    margin-left: 35px;
    /*  위아래 가운데 만들려고 주는 마진탑 */
    margin-top: 2px;
}
#nav>li{
    /* 메뉴들도 옆으로 붙이기 */
    float: left;
    /* 메뉴들끼리 떨어뜨림 */
    margin: 0 10px;
}
#nav>li>a{
    font-size: 19px;
    font-weight: 500; 
}

/* 서브 */
.subWrap{
    width: 140px;
    display: none;
    /* 헤더에서 독립시켜주기 */
    position: absolute;
    border: 1px solid black;
    background: white;
    /* 여백이 생기도록 */
    padding: 15px 20px 10px;
    /* 위치를 좀 더 왼쪽으로 땡겨줌 */
    margin-left: -50px;
    /* 줄간격을 줌 */
    line-height: 2;
}
.subWrap>h2>a{
    font-size: 16px;
    /* 줄을 이름 아래에만 주는 게 아니라 길게 주기 위해서는 a를 block으로 바꿔야 함.  */
    display: block;
    border-bottom: 2px solid black;
    /* 글자랑 줄을 떨어트리기 위해서 패팅  */
    padding-bottom: 10px;
    /* 줄과 아래에 있는 sub 가 떨어지도록 마진 */
    margin-bottom: 10px;
}


#nav>li:hover .subWrap{
    display: block;
}

/* gnb */
.gnb{
    /* 오른쪽에 붙이기 */
    float: right;
    /*  위아래 가운데 만들려고 주는 마진탑 */
    margin-top: 2px;
}
.gnb>li{
    /* 리스트들끼리 옆으로 붙이기 */
    float: left;
    /* 메뉴들 왼쪽만 떨어뜨림 */
    margin-left: 24px;
}
.gnb>li>a{
    font-size: 18px;
    font-weight: 500;
}


/* .gnbSub */
.gnbSub{
    width: 200px;
    display: none;
    /* subWrap과 동일하여 div 안에 class를 두개 줌 */
}
.gnb>li:hover .gnbSub{
    display: block;
}
.gnb>li span{
    margin-left: 7px;
}

/* #mainBanner */
#mainBanner{
    /* .page에 position을 줬기때문에 #mainBanner에 realative를 줘서 기준점을 잡아준다. */
    position: relative;
    /* 그러나 모든 자식들에게 포지션을 줘서 부모의 높이값이 사라진 상태다. 그렇기 때문에 부모에게 높이값을 줘서 자리를 찾아준다. position의 높이를 찾아주는 방법은 직접 높이를 주는 방법밖에 없다. */
    height: 520px;
}
.banner{
    /* %는 부모사이즈가 기준이기때문에 부모에 사이즈를 줘야함 */
    /* height: 520px; */
}
.banner>li{
    width: 100%;
    /* height: 100%; */
    height: 520px;
    /* 배너 3개 겹치기위해 position */
    position: absolute;
}
.banner>li>a{
    /* 블록을 줘야 크기 적용함 */
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* 이미지 위치 맞추기 위함 */
    background-position:center 0 ;
    text-indent: -9999px;
}
.banner>li:first-child>a{
    background-color: rgb(218, 244, 253);
    background-image: url(../images/banker202102042.png);
}
.banner>li:nth-child(2)>a{
    background-color: rgb(255, 243, 195);
    background-image: url(../images/1.jpg);
}
.banner>li:last-child>a{
    background-color: rgb(237, 243, 253);
    background-image: url(../images/enter.png);
}

.page{
    position: absolute;
    /* 위치값 */
    right: 50%;
    bottom: 60px;
}
.page>li{
    /* li들을 일렬로 나열하고 여백을 줌 */
    float: left;
    margin-right: 15px;
}
.page>li>a{
    /* 블럭요소로 만들어야 크기를 가질 수 있음 */
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.6;
    /* 블럭이 아니면 text-indent도 적용되지 않음 */
    text-indent: -99999px;
}
.controlBtn{
    /* 독립시켜주기 위해 */
    position: absolute;
    left: 50%;
    bottom: 57px;
}
.controlBtn>li{
    /* 일렬로 만들기 */
    float: left;
    margin-left: 20px;
}
/* 자식들에게 대표속성으로 속성값을 주면 부모가 속성을 썼을 때 대표속성은 취소된다. 적용안됨*/
.controlBtn>li>a{
    display: block;
    background-repeat: no-repeat;
    /* 가운데로 위치 잡아줌 */
    background-position:center center ;
    width: 11px;
    height: 14px;
    text-indent: -9999px;
    /* 아이콘들 사이즈 때문에 배경 사이즈를 지정해서 아이콘 이미지 사이즈 맞춰줌 */
    background-size: 10px;
}
.controlBtn>.playStop>a{
    background-image: url(../images/slides_btn_play_new0919.png);
}
.controlBtn>.leftBtn>a{
    /* 색깔 맞춰주려고 투명도 줌 */
    opacity: 0.4;
    background-image: url(../images/slides_btn_previous_new0924.png);
}
.controlBtn>.rightBtn>a{
     /* 색깔 맞춰주려고 투명도 줌 */
    opacity: 0.4;
    background-image: url(../images/slides_btn_next_new0924.png);
}
/* #container */
#container{

}
#container .title{
    /* 컨테이너 안에 있는 모든 타이틀의 글자 색상을 검정으로 바꿈 */
    color: black;
    /* 모든 제목 밑에 여백을 줌 */
    margin-bottom: 25px;
}
/* 빠른메뉴 */
.quickEtcWrap{
    /* .quick에 iline-bloxk 을 줬기 때문에 text-align으로 가운데 정렬이 가능하다*/
    text-align: center;
    /* 위치를 지정해주기 위해 포지션 */
    position: relative;
    top: -35px;
}
/* float으로 부모를 잃어서 .clearFix를 class에 줌  */
.quick{
    /* 너비를 주면 패딩으로 크기 다 세세하게 맞춰줘야함 귀찮음 */
    /* width: 770px; */
    background-color: #3a8dfd;
    border-radius: 60px;
    /* 넘치는 것들 보이지 않도록 만듦 . .otherBank, .quickMenu의 상자 모서리 부분 */
    overflow: hidden;
    /* inline이라 정렬이 가능하고 옆으로 가는 특성도 가능하다. block이라 본인의 크기를 유지한다. */
    display: inline-block;
}
.quick>li{
    /* 왼쪽으로 붙여서 일렬로 만들기 */
    float: left;
}
.quick>li>a{
    /* 블럭을 줘야 padding이 정상적으로 적용됨 */
    display: block;
    color: white;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    padding: 20px 51px 30px;
}
.quick>.otherBank>a{
    font-size: 20px;
    padding: 11px 45px 11px 55px;
    background-color: #0082cd;
}
.quick>.quickMenu>a{
    padding:20px 55px 30px 35px;
    color: #222;
    /* 빠른메뉴 옆에 있는 화살표 */
    background: white url(../images/slides_btn_next_new0924.png) no-repeat 85% center;
}

/* etcMenu */
.etcMenu{
    /* li가 인라인이니까 text-align 으로 센터를 주면 가운데로 온다 */
    text-align: center;
}
.etcMenu>li{
    /* 일렬로 나열 */
    display: inline-block;
    margin: 0 15px;
}
.etcMenu>li>a{
    /* a의 색상을 바꿀때는 무조건 a에 써야해서 폰트사이즈와 굵기를 그냥 a에 한 번에 줌. 색상을 지정할 일이 없다면 그냥 li에 쓰면 된다. */
    font-size: 16px;
    color: #7f7e7e;
    font-weight: bolder;
}


/* 금융상품 */
.financialCard{
    padding-bottom: 50px;
}
.financialCard>div>div{
    /* 부모요소 안에서 왼쪽으로 하나씩 붙어라 */
    float: left;
}
.financialCard>div>div li{
    /* 일렬로 나열 */
    float: left;
    margin-right: 15px;
}
.financialCard>div>div li>a{
    /* a에게 크기를 줄 수 있도록 block을 지정 */
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    /* 아이콘 이미지 반복하지 않게 하고 위치 맞춰줌 */
    background-repeat: no-repeat;
    background-position: center 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.financial li:first-child>a{
    background-image: url(../images/icon_set_011.png);
}
.financial li:nth-child(2)>a{
    background-image: url(../images/icon_set_022.png);
}
.financial li:nth-child(3)>a{
    background-image: url(../images/icon_set_033.png);
}
.financial li:nth-child(4)>a{
    background-image: url(../images/icon_set_044.png);
}
.financial li:nth-child(5)>a{
    background-image: url(../images/icon_set_055.png);
}
.financial li:nth-child(6)>a{
    background-image: url(../images/icon_set_066.png);
}
.financial li:nth-child(7)>a{
    background-image: url(../images/icon_set_077.png);
}
.financial li:nth-child(8)>a{
    background-image: url(../images/icon_set_088.png);
}

.card{
    margin-left: 50px;
}
.card>ul{
    /* 카드에 보더를 주면 너무 길어서 ul에 줌 */
    border-left: 1px solid #e9f2ff;
    /* ul안에 li들이 모두 float이라 overflow를 줬다. */
    overflow: hidden;
}
.card li:first-child>a{
    background-image: url(../images/icon_set_099.png);
}
.card li:nth-child(2)>a{
    background-image: url(../images/icon_set_01010.png);
}
.card li:nth-child(3)>a{
    background-image: url(../images/icon_set_01111.png);
}

.financialCard>div>div li>a>span{
    /* 글씨를 아이콘이미지 아래로 옮기기 위해 span에 패딩탑을 줌 */
    /* 마진이나 패딩이나 너비 이런것들은 다 block요소에서만 적용됨 */
    padding-top: 55px;
    display: block;
}

.financialCard>div>div li>a:hover{
    background-color: #3a8dfd;
    color: white;
}
.financial li:first-child>a:hover{
    background-image: url(../images/icon_set_011_over.png);
}
.financial li:nth-child(2)>a:hover{
    background-image: url(../images/icon_set_022_over.png);
}
.financial li:nth-child(3)>a:hover{
    background-image: url(../images/icon_set_033_over.png);
}
.financial li:nth-child(4)>a:hover{
    background-image: url(../images/icon_set_044_over.png);
}
.financial li:nth-child(5)>a:hover{
    background-image: url(../images/icon_set_055_over.png);
}
.financial li:nth-child(6)>a:hover{
    background-image: url(../images/icon_set_066_over.png);
}
.financial li:nth-child(7)>a:hover{
    background-image: url(../images/icon_set_077_over.png);
}
.financial li:nth-child(8)>a:hover{
    background-image: url(../images/icon_set_088_over.png);
}

.card li:first-child>a:hover{
    background-image: url(../images/icon_set_099_over.png);
}
.card li:nth-child(2)>a:hover{
    background-image: url(../images/icon_set_01010_over.png);
}
.card li:nth-child(3)>a:hover{
    background-image: url(../images/icon_set_01111_over.png);
}

/* 서비스 */
.service{
    padding-bottom: 50px;
}
.service ul>li{
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    padding-bottom: 10px;
    width: 374px;
}
.service ul>li:nth-child(2){
    /* 좌우 간격을 주기 위해서. */
    margin: 0 25px;
}
.service ul>li h3{
    font-size: 19px;
    color: #555;
    margin: 10px 0;
}
.service ul>li img{
    /* img는 인라인이지만 너비높이를 가질 수 있다. */
    width: 100%;
}
/* newsEvent */
.newsEvent{
    padding: 40px 0 50px;
    background-color: #faf7fa;
}
/* newsEvent안에 conCenter 안에 있는 div두개를 한 번에 선택하는 선택자 */
.newsEvent>div>div{
    float: left;
    width: 50%;
    /* .more때문에 부모 지정 */
    position: relative;
}
.newsEvent>div>div .title{
    float: left;
}
.newsEvent>div>div ul{
    /* background: skyblue; */
    /* title에 플롯을 줘서 ul이 따라 올라와도 진짜 옆에 있는게 아니라 그냥 그렇게 보이는 것이지 바닥에 깔려있는 상태이다. 그러므로 ul한테 마진을 줄 수 없다. 주고싶다면 ul에도 플롯을 줘서 타이틀 옆에 자리를 만들어주고 마진을 주면 된다.  */
    float: left;
    margin-left: 30px;
    line-height: 3;
}
.newsEvent>div>div ul li{
    width: 400px;
    /* 현재 자식들 모두 float이라 li는 높이 없음. 만약 자리 주고싶으면 overflow주면 됨 */
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.newsEvent>div>div ul li>a{
    /* background: pink; */
    /* 부모의 왼쪽에 붙임 */
    float: left;
    width: 280px;
    /* 자리가 없어도 자동줄바꿈 하지마 */
    white-space: nowrap;
    /* 넘쳐난 애들을 가려줌 */
    overflow: hidden;
    /* 넘친 글자들을 말줄임으로 바꿔줌 */
    text-overflow: ellipsis;
}
.newsEvent>div>div ul li>span{
    /* 부모의 오른쪽에 붙임 */
    float: right;
}
.newsEvent .more{
    position: absolute;
    left: 0;
    top: 40px;
    /* 원래 a에 줘야하는데 그냥 줌 */
    background: url(../images/slides_btn_next_new0924.png) no-repeat right center;
    /* 이미지가 글자와 떨어지도록 */
    padding-right: 20px;
    background-size: 8px;
}


/* #footer */
#footer{
    border-top: 2px solid #d4d4d4;
    margin-top: 40px;

}
.footTop{
    /* clearFix 안 쓰면 적용안되니까 꼬옥 씀 */
    background: #f8f8f8;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0;
}
.footTop .footMenu{
    /* 부모를 기준으로 왼쪽 */
    float: left;
}
.footTop .sns{
    /* 부모를 기준으로 오른쪽 */
    float: right;
}

.footTop ul li{
    /* footMenu, sns 한 번에 줌 */
    float: left;
    margin:0 5px ;
}
.footTop .footMenu>li a{
    background: url(../images/icon_more.png) no-repeat right center;
    padding:0 20px;
    border-left: 1px solid #ccc;
    margin-left: 40px;
}
.footTop .footMenu>li:first-child>a{
    border-left: none;
}
.footBottom{
    /*  */
    padding-bottom: 30px;
}
.footBottom>.conCenter{
    /* 부모라고 기준정하기 */
    position: relative;
    padding: 15px 0 30px;
}
.footLogo{
    position: absolute;
    top: 30px;
}
.footList{
    /* 부모의 높이 찾아줌. 작은 요소들은 간단하게 overflow를 사용 */
    overflow: hidden;
    margin: 10px 0 10px 80px;
    width: 700px;
}
.footList>li{
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 5px;
    /* li에 line-height를 줘서 두줄이 딱 붙어있다. 이걸 해결하고 싶다면 
    1번 a에 선을 주고 라인하이트를 작게 주고, li에 라인하이트는 크게 준다.
    2번 after로 선을 준다.  */
    /* 기본적으로 들어있는 줄간격 때문에 line-height 를 줘서 선이 짧게 만들어준다 */
    line-height: 1;
}
small{
    margin-left: 85px;
}
.info{
    position: absolute;
    right: 35px;
    top: 50px;
}
.info>li{
    float: left;
    margin-right: 15px;
}
.info .textBox{
    display: none;
}